<h1>Listing all admins</h1>
<% if flash[:alert] %>
<p id ="notice"><%= flash[:alert] %>
  </p>
  <% end %>

  <% if !@users.nil? then @users.each do |user| %>
        <% unless current_user.id == user.id %>
            <p><%= user.first_name %> <%= user.last_name %>    
            <%= link_to "<button>More details</button>".html_safe, user_path(user) %>
            <%= link_to "<button>Delete admin</button>".html_safe, user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %></p>
            <% end %>

  <% end %>

<%  if current_user.role == 'Admin' %>
    <br><%= link_to "Back", '/admin' %>
<% end %>

