<h1>Listing all super admins</h1>
<% if flash[:alert] %>
<p id ="notice"><%= flash[:alert] %>
  </p>
  <% end %>

<% if !@users.nil? then @users.each do |user| %>
        <p><% unless current_user.id == user.id %>
            <%= user.first_name %> <%= user.last_name %>
            <%= link_to "More details", user_path(user), :class => "btn btn-primary" %>
        <% end %></p>
    <% end %>

<% end %>

<%  if current_user.role == 'Admin' %>
    <%= link_to "Back", '/admin', :class => "btn btn-primary" %><br>
<% end %>
<%  if current_user.role == 'Super admin' %>
    <br><%= link_to "Back", '/superadmin', :class => "btn btn-primary" %>
<% end %>
