<h2>Sign up!</h2>
<% if flash[:alert] %>
<p id ="notice"><%= flash[:alert] %>
  </p>
  <p id="notice"><%= notice%> </p>
  <% end %>

<%= form_for @user do |f| %>
    <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    </p>

    <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    </p>

    <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    </p>

    <p>Password must be atleast 8 characters long<br>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    </p>

    <p>
    <%= f.label :password_confirmation %><br><br>
    <%= f.password_field :password_confirmation %>
    </p>


    <%= f.hidden_field :role, :value => 'Customer' %>

<%= f.submit "Create account", :class => "btn btn-primary" %>
<% end %>