<h3>Listing current reservations</h3>

<table style="width:60%">
  <tr>
    <th>Booking number  </th>
    <th>Car </th>
    <th>Booked by</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

      <% @reservations.each do |reservation| %>
              <tr>
                <td><%= reservation.id %></td>
                <td><%= reservation.car.car_name %></td>
                <td><%= reservation.user.name %></td>
                <td><%= reservation.start_time.strftime('%a, %d %b %Y %H:%M:%S') %></td>
                <td><%= reservation.end_time.strftime('%a, %d %b %Y %H:%M:%S') %></td>
                <% if reservation.status == false %>
                    <td><%= link_to 'Check out car for customer', controller: :reservations, action: :checkout, id: reservation, :method => :put , :class => "btn btn-primary" %></td>
                <% elsif reservation.status == true %>
                    <td><%= link_to 'Check in car for customer', controller: :reservations, action: :checkin, id: reservation, :method => :put, :class => "btn btn-primary" %></td>
                <% end %>
              </tr>
          <% end %>
      </table>

<%  if current_user.role == 'Admin' %>
    <%= link_to "Back", '/admin', :class => "btn btn-primary" %>
<% end %>
<%  if current_user.role == 'Super admin' %>
    <%= link_to "Back", '/superadmin', :class => "btn btn-primary" %>
<% end %>