<h3>Listing all reservations</h3>

<table style="width:60%">
  <tr>
    <th>Booking number  </th>
    <th>Car </th>
    <th>Booked by</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

  <% if !@reservations.nil? then @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.id %></td>
            <td><%= reservation.car.car_number_name %></td>
            <td><%= reservation.user.name %></td>
            <td><%= reservation.start_time %></td>
            <td><%= reservation.end_time %></td>
          </tr>
      <% end %>
  <% end %>
</table>
<% if current_user.role == 'Customer' %>
<%= link_to "Back", '/customer' %>
<% end %>
<%  if current_user.role == 'Admin' %>
    <%= link_to "Back", '/admin' %>
<% end %>
<%  if current_user.role == 'Super admin' %>
    <%= link_to "Back", '/superadmin' %>
<% end %>