<p id="notice"><%= notice%> </p>

<h1>Listing all cars for approval</h1>

<% @cars.each do |car| %>
    <h4><%= car.manufacturer %> <%= car.model %>  <%= link_to "More details", car_path(car) %></h4>
<% end %>
<%= link_to "Back to cars menu", cars_path, :class => "btn btn-primary" %>