<h2>Listing features of <%= @car.manufacturer %> <%= @car.model %></h2>
<p>Manufacturer: <%= @car.manufacturer %></p>
<p>Model: <%= @car.model %></p>
<p>Style: <%= @car.style %></p>
<p>Rate: <%= @car.hourly_rate %></p>
<p>Pick up location: <%= @car.location %></p>
<p>License plate: <%= @car.license_plate %></p>
<%= link_to "Back to cars menu", cars_path %>
<% if current_user.role == 'Admin' || current_user.role == 'Super admin' %>
<%= link_to "Delete this car?", car_path(@car), method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
<% if (current_user.role == 'Admin' || current_user.role == 'Super admin') && (@car.status == 'Unapproved') %>
        <%= link_to 'Approve this car', edit_car_path(@car) %>
        <% else %>
<%= link_to "Book this car!", new_reservation_path(:car_id => @car) %>
    <% end %>
<% session[:car_id] = @car.id %>

Car id is <%= session[:car_id] %>